/* Global styles */

:root {
    --primary-color: #F7F7F7;
    --secondary_color: #41b883;
    --last-color: #FF5733;
    --secondary_color_hover: #349569;
}

.submit-btn {
    background: var(--secondary_color);
    padding: 0.5rem;
    border-radius: 5%;
    color: var(--primary-color);
    border: none;
}

.submit-btn:hover{
    background: var(--secondary_color_hover);
    transition: all 1s;
}

/* Home styles */

.user_control > a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.5rem;
    margin: 0.5rem;
    background: var(--secondary_color);
}

.user_control > a:hover {
    transition: all 1s;
    color: var(--secondary_color_hover);
}

@media (max-width: 991px) {
    .user_control {
        width: 50%;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
}

.user-auth-circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

#event_input {
    border: 1px solid rgba(0, 0, 0,.1);
}

/* Register form styles */

.fields-container {
    width: 60rem;
}

.circle {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.circle:hover {
    background: #929292;
    transition: all 1s;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

label[for="image"] {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary-color);
    cursor: pointer;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}